*{
    margin: 0px;
    padding: 0px;
}
.form_calc{
    width: 300px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
    background: #610655;
}
.btn{
    padding: 20px;
    background-color: aqua;
}